
//Background image credit - https://heropatterns.com/

//Variables
$background-color: #141315;
$background-image: url('assets/topography.svg');
$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-color: #ffffff;
$header-color: #4e084e;
$button-color: #c20000;
$color-shadow: hsl(235, 36%, 35%);
$color-primary: #ffffff;
$color-secondary: #ff1900;
$box-shadow: 20px 20px 60px #575757, -20px -20px 60px #3b3b3b;
$button-shadow: 0 0 20px #ff000050;


*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color;
    background-image: $background-image;
    padding: 10px;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    border-radius: 50px;
    background: #f0f0f0;
    box-shadow:  $box-shadow;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;

    h1 {
      color: $header-color;
      font-size: 12px;
      display:flex;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    h2 {
    color: $header-color;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e4e4e4;
    border-radius: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}


button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: $button-color;
  color: $font-color;
  font-weight: bold;
  margin-left: 190px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  &:hover {
    background-color: #000000;
    box-shadow: $button-shadow;
    transform: scale(1.1);
  }

  &:active {
    background-color: #b10000;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
}


ul {
  li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-image: url('assets/unchecked.png');
      background-size: cover;
      background-position: center;
      top: 12px;
      left: 8px;
      transition: background-image 0.3s ease-in-out;
    }

    &.checked {
      color: #555;
      text-decoration: line-through;

      &::before {
        background-image: url('assets/checked.png');
      }
    }

    span {
      position: absolute;
      right: 0;
      top: 5px;
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: #ff1900;
      line-height: 40px;
      text-align: center;

      &:hover {
        background-color: #ff19001e;
      }
    }
  }
}

p {
  color: $color-primary;
}


// Timer
.timer {
  text-align: center;

  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px $color-shadow; 
    box-shadow: 0px 0px 15px 10px $color-shadow;
  
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26rem;
      height: 26rem;
      border-radius: 50%;
      background-color: $color-secondary;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        width: 95%;
        height: 95%;
        border-radius: 50%;
        background-color: $background-color;
      }
    }
  
    .time {
      position: relative;
      display: flex;
      flex-direction: row;
  
      p {
        font-size: 5.6rem;

  
        &:nth-of-type(2) {
          position: relative;
          top: -.5rem;
          margin-inline: 1rem;
        }
      }
    }
  }
  

  .controls {
    margin-top: 20px;

    button {
      padding: 10px 20px;
      font-size: 1rem;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

@keyframes rotateLine {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer.running .circle::before {
  animation-play-state: running;
}